<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Source Info</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <%- include('navbar') %>
    <div class="sourceContainer">
        <h1>Sources Found</h1>
        <span class="media"><strong>Show/Movie: </strong><%- title_name %></span><br>
        <% sources.forEach(source => { %>
            <div>
                <strong>Name:</strong> <%= source.source_name %><br>
                <strong>URL:</strong> <a href="<%= source.source_url %>"><%= source.source_url %></a><br>
            </div>
        <% }) %>
    </div>
</body>

</html>
